<div class="container-fluid">
    <h1 class="heading text-center">Quotes For You</h1>
    <h3 class="sub text-center">
    Get Motivated to learn more and be more in life!
    </h3>
    <div class="row">
        <div class="col-sm-6">
            <div *ngFor="let quote of quotes let i=index"></div>
           <h4>We love you so much. nOTHING BEATS THAT created on </h4>
           


            <div *ngIf="">

            </div>

            

            

            
        </div>

        <div class="col-sm-6">
           <app-quotes-form></app-quotes-form>
        </div>
    </div>

</div>
