<div class="container-fluid">
    <h1 class="heading text-center">Quotes For You</h1>
    <hr>
    <h2 class="sub text-center">
    Get Motivated to learn more and be more in life!
    </h2>
    <div class="row">
        <div class="col-sm-6">
            <div *ngFor="let quote of quotes; let i=index">
              <p id={{i}} appHighlight>{{quote.quo}} completed on {{quote.completeDate|date}}</p>
          
           
           <button class="btn btn-primary" (click)="toggleDet(i)">Read More</button>
          
           <div *ngIf="quote.showAuthor">
               <app-quote-details></app-quote-details>

           </div>
          
          
              
         
           
           


           
            </div>

            

            

            
        </div>

        <div class="col-sm-6">
           <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form>
        </div>
    </div>
    <footer>CopyRights Reserved &copy;2022 Christine Mwangi</footer>

</div>
